/* You can add global styles to this file, and also import other style files */

.align-vh-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-h-center {
  display: flex;
  justify-content: center;
}
.align-v-center {
  display: flex;
  align-items: center;
}
